<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="liujianze.dao.LoginDao" >

    <!-- 查询-->
    <select id="selectUser" resultType="liujianze.pojo.Login">
        select * from mybatis.login where username = #{username} and password = #{password};
    </select>

    <!-- 新增-->
    <insert id="inserUser">
         insert mybatis.login (username,password) values (#{username},#{password})
    </insert>
</mapper>